<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web">  

  <select id="selectUserInfo">
      SELECT
        user_id,
        user_pw
      FROM
        user_info 
      WHERE
        user_id = #{user_id}
  </select>

  <select id="selectBoardListLimitThree">
      SELECT title
            , content
            , image_url as imgUrl
            , rgst_time as rgstDt
      FROM board
      ORDER BY id DESC
      LIMIT 0, 3
  </select>

  <select id="selectPrivacy">
      SELECT content
      FROM privacy
  </select>

  <select id="selectEmail">
    SELECT 
      email
    FROM 
      sampleUser
    WHERE 
      email = #{email}
  </select>

  <insert id="insertUser">
    INSERT INTO sampleUser (
      email,
      name,
      city,
      gu,
      dong,
      birth,
      phoneNumber,
      nickName,
      platformName,
      socialAccessToken,
      image
    )
    VALUES (
      #{email},
      #{name},
      #{city},
      #{gu},
      #{dong},
      #{birth},
      #{phoneNumber},
      #{nickName},
      #{platformName},
      #{socialAccessToken},
      #{image}
    )
  </insert>
</mapper>